# docker compose profile
COMPOSE_PROFILES=development

# the port at which the service is reachable
PORT=8080

# postgres
POSTGRES_DB=fpo
POSTGRES_USER=einuser
POSTGRES_PASSWORD=einpasswort

# pgweb auth
# leave unset to disable auth for local develpoment
# uncomment and fill apropriately for production
# PGWEB_AUTH_USER=admin
# PGWEB_AUTH_PASS=123

# MAIL_HOST=
# MAIL_PORT=
# MAIL_ADDRESS=
# MAIL_USERNAME=
# MAIL_PASSWORD=

# SERVER_HOST=http://localhost
