# Canonical author names and emails.
#
# Use this to provide a canonical name and email for an author when their
# name is not always written the same way and/or they have commits authored
# under different email addresses.
#
# Reference: https://git-scm.com/docs/gitmailmap

# Keep these entries sorted alphabetically.

Fabian Krull <fabian3krull+codeberg@gmail.com>
lassezuengel <lassezuengel@gmail.com>
lassezuengel <lassezuengel@gmail.com> Lasse Zuengel <lassezuengel@gmail.com>
Malin Glienke <malin.glienke@mailbox.org>
merliin3007 <merliin3007@gmail.com>
merliin3007 <merliin3007@gmail.com> Merlin <info@bahn.sh>
merliin3007 <merliin3007@gmail.com> Merlin <merliin3007@gmail.com>
nschmahl <schmahlnick@gmail.com>
nschmahl <schmahlnick@gmail.com> NickSchmahl <nickschmahl@noreply.codeberg.org>
# Lennart1543 <lennart1543@noreply.codeberg.org>
# stu236751 <stu236751@mail.uni-kiel.de>
