.ace_keyword {
  color: red;
  font-weight: bold;
}

.ace_markup.ace_heading.ace_1 {
  color: darkblue;
  font-weight: bold;
}

.ace_markup.ace_heading.ace_2 {
  color: navy;
}

.ace_comment {
  color: gray;
  font-style: italic;
}

/* --- LTML Style Tags --- */

.ace_markup.ace_bold {
  font-weight: bold;
  color: darkgreen;
}

.ace_markup.ace_italic {
  font-style: italic;
  color: seagreen;
}

.ace_markup.ace_underline {
  text-decoration: underline;
  color: teal;
}

/* Optional: fallback for unknown style tags */
.ace_markup.ace_other {
  color: darkorange;
}

/* --- Marker --- */

.ace_marker-layer .my-marker {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.8);
  border: 1px solid black;
  box-sizing: border-box;
}

/* --- Annotation --- */

.ace_gutter-cell.ace_info {
  /* Found icon on https://icon-sets.iconify.design/picon/?keyword=c&category=UI+Other+%2F+Mixed+Grid */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDggOCI+PHBhdGggZmlsbD0iI2U4YTU1MiIgZD0iTTQgNkwxIDhWMWg2djciLz48L3N2Zz4=");
}
